{% extends 'modelo.html' %}

{% block conteudo %}
<main class="container">
    <a href="{% url 'cadastra_fornecedor' %}" class="btn btn-info btn-sm" title="novo">
        Novo Fornecedor
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>CNPJ</th>
            </tr>
            {% for fornecedor in object_list %}
            <tr>
                <td>{{ fornecedor.nome }}</td>
                <td>{{ fornecedor.cnpj }}</td>
                <td>
                    <a href="{% url 'atualiza_fornecedor' fornecedor.id %}" class="btn btn-warning btn-sm" title="Editar">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'deletar_fornecedor' fornecedor.id %}" class="btn btn-danger btn-sm" title="Excluir">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum fornecedor registrado.</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</main>
{% endblock %}