<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if request.user.is_authenticated %}

<div>
    arquivo catalogo.html,

    tela do catalogo,

    este arquivo lista todos os produtos cadastrado no catalogo,

    ainda falta pegar seus lotes
</div>
<main>
    <ul>
        {% for produto in object_list %}
        <a href="{% url 'atualiza_produto' produto.id %}">
            <li> {{ produto.nome }}</li>
        </a>
        {% endfor %}
    </ul>
</main>
<a href="{% url 'cadastra_produto' %}">Novo produto</a>
{% else %}
<li>
    <a href="{% url 'login' %}">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
        Logar
    </a>
</li>
{% endif %}
</body>
</html>