<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Estoque</title>
</head>

<body class="bg-light py-3">
    <div class="container">
        <!-- Menu -->
        <header>
            <nav class="navbar navbar-expand-lg font-115 shadow">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_catalogo' %}">catalogo</a></li>
                    <li class="nav-item"><a class="nav-link" href="">log</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_fornecedores' %}">fornecedor</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'lista_lotes' %}">lote</a></li>
                </ul>

                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><span class="nav-link">User: {{ request.user }}</span></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'atualizar_usuario' %}">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'registrar_usuario' %}">Cadastrar-se</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <!-- conteudo sera inserido aqui -->
        <div class="row">
            {% block conteudo %}
            Corpo do site
            {% endblock %}
        </div>
        if user.role == 'admin':
        <a href="">dashboard</a>
    </div>
</body>

</html>