{% extends 'modelo.html' %}
{% block conteudo %}
<div>
    Lista logs, se tiver id é de um user, se nao todos os logs
</div>
<br>
<h2>logs fornecedor</h2>
<table class="table table-striped">
    <tr>
        <th>id do log</th>
        <th>a_id_tupla</th>
        <th>n_id_tupla</th>
        <th>Metodo</th>
        <th>Data</th>
        <th>a_nome</th>
        <th>n_nome</th>
        <th>a_cnpj</th>
        <th>n_cnpj</th>
    </tr>
    {% for log in logs_fornecedor %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.a_id_tupla }}</td>
        <td>{{ log.n_id_tupla }}</td>
        <td>{{ log.metodo }}</td>
        <td>{{ log.data }}</td>
        <td>{{ log.a_nome }}</td>
        <td>{{ log.n_nome }}</td>
        <td>{{ log.a_cnpj }}</td>
        <td>{{ log.n_cnpj }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum log registrado do fornecedor.</td>
    </tr>
    {% endfor %}
</table>

<br>
<h2>logs produtos catalogados</h2>
<table class="table table-striped">
    <tr>
        <th>id do log</th>
        <th>a_id_tupla</th>
        <th>n_id_tupla</th>
        <th>Metodo</th>
        <th>Data</th>
        <th>a_nome</th>
        <th>n_nome</th>
        <th>a_descricao</th>
        <th>n_descricao</th>
        <th>a_preco_id</th>
        <th>n_preco_id</th>
    </tr>
    {% for log in logs_catalogos %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.a_id_tupla }}</td>
        <td>{{ log.n_id_tupla }}</td>
        <td>{{ log.metodo }}</td>
        <td>{{ log.data }}</td>
        <td>{{ log.a_nome }}</td>
        <td>{{ log.n_nome }}</td>
        <td>{{ log.a_descricao }}</td>
        <td>{{ log.n_descricao }}</td>
        <td>{{ log.a_preco_id }}</td>
        <td>{{ log.n_preco_id }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum log registrado de produtos catalogados.</td>
    </tr>
    {% endfor %}
</table>


<br>
<h2>logs Lote</h2>
<table class="table table-striped">
    <tr>
        <th>id do log</th>
        <th>a_id_tupla</th>
        <th>n_id_tupla</th>
        <th>Metodo</th>
        <th>Data</th>
        <th>a_data_lote</th>
        <th>n_data_lote</th>
        <th>a_quantidade</th>
        <th>n_quantidade</th>
        <th>a_produto_fornecedor_id</th>
        <th>n_produto_fornecedor_id</th>
    </tr>
    {% for log in logs_lote %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.a_id_tupla }}</td>
        <td>{{ log.n_id_tupla }}</td>
        <td>{{ log.metodo }}</td>
        <td>{{ log.data }}</td>
        <td>{{ log.a_data_lote }}</td>
        <td>{{ log.n_data_lote }}</td>
        <td>{{ log.a_quantidade }}</td>
        <td>{{ log.n_quantidade }}</td>
        <td>{{ log.a_produto_fornecedor_id }}</td>
        <td>{{ log.n_produto_fornecedor_id }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum log registrado do lote.</td>
    </tr>
    {% endfor %}
</table>

<br>
<h2>logs Preco</h2>
<table class="table table-striped">
    <tr>
        <th>id do log</th>
        <th>a_id_tupla</th>
        <th>n_id_tupla</th>
        <th>Metodo</th>
        <th>Data</th>
        <th>a_real</th>
        <th>n_real</th>
        <th>a_dolar</th>
        <th>n_dolar</th>
    </tr>
    {% for log in logs_preco %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.a_id_tupla }}</td>
        <td>{{ log.n_id_tupla }}</td>
        <td>{{ log.metodo }}</td>
        <td>{{ log.data }}</td>
        <td>{{ log.a_real }}</td>
        <td>{{ log.n_real }}</td>
        <td>{{ log.a_dolar }}</td>
        <td>{{ log.n_dolar }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum log registrado do preco.</td>
    </tr>
    {% endfor %}
</table>

<br>

<h2>logs Produto_Fornecedor</h2>
<table class="table table-striped">
    <tr>
        <th>id do log</th>
        <th>a_id_tupla</th>
        <th>n_id_tupla</th>
        <th>Metodo</th>
        <th>Data</th>
        <th>a_fornecedor_id</th>
        <th>n_fornecedor_id</th>
        <th>a_produto_id</th>
        <th>n_produto_id</th>
    </tr>
    {% for log in logs_produto_fornecedor %}
    <tr>
        <td>{{ log.id }}</td>
        <td>{{ log.a_id_tupla }}</td>
        <td>{{ log.n_id_tupla }}</td>
        <td>{{ log.metodo }}</td>
        <td>{{ log.data }}</td>
        <td>{{ log.a_real }}</td>
        <td>{{ log.a_fornecedor_id }}</td>
        <td>{{ log.a_produto_id }}</td>
        <td>{{ log.n_produto_id }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">Nenhum log registrado do produto_fornecedor.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

