<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<!-- https://github.com/Gpzim98/django2-CRUD-30min/blob/master/products/templates/products-form.html -->
<h1>New/Update Lote</h1>

<form method="POST">
    {% csrf_token %}
    {{ formulario }}
    <button type="submit">Salvar</button>
</form>

{% if lote %}
    <a href="{% url 'deletar_lote' lote.id %}">Deletar</a>
{% endif %}

</body>
</html>